<div class="side-menu">

  <nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="brand-wrapper">
        <!-- Hamburger -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side_navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
      <div id="side_navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <li><a href="/dashboard"><span class="glyphicon glyphicon-send"></span> Dashboard </a></li>

          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-user"></span> Companies <span class="caret"></span>
            </a>
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a href="/companies">Company List</a></li>
                  <li><a href="/companies/new">Add Company</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl2">
              <span class="glyphicon glyphicon-user"></span> Users <span class="caret"></span>
            </a>
            <div id="dropdown-lvl2" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a href="/users">User List</a></li>
                  <li><a href="/users/new">Add User</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl3">
              <span class="glyphicon glyphicon-user"></span> Assets <span class="caret"></span>
            </a>
            <div id="dropdown-lvl3" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a href="/assets">Asset List</a></li>
                  <li><a href="/assets/new">Add Asset</a></li>
                </ul>
              </div>
            </div>
          </li>

          <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Link</a></li>

        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

</div>
