<% include _header %>

  <div class="main_wrapper">

    <!-- top nav -->
    <% include _topnav %>

    <div class="container-fluid">
      <div class="row">

        <% include _sidebar %>

        <!-- contents strt -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">
          <h1 class="text-center">Company Name</h1>
          <h1 class="page-header">Dashboard</h1>
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <h4>Widget</h4>
              <img src="http://placehold.it/800x200" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-6">
              <h4>Widget</h4>
              <img src="http://placehold.it/800x200" class="img-responsive">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2 class="sub-header">Last Added Assets</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Tag</th>
                      <th>Assigned to</th>
                      <th>Location</th>
                      <th>Assigned by</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

            <!-- second -->
            <div class="col-sm-12 col-md-6">
              <h2 class="sub-header">Last Assigned Assets</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Tag</th>
                      <th>Assigned to</th>
                      <th>Location</th>
                      <th>Assigned by</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                    <tr>
                      <td>AB-123456</td>
                      <td>Mr. X</td>
                      <td>Building-B, Romm-404</td>
                      <td>Mr. Y</td>
                      <td>12 March,2016</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
        <!-- contents end -->
      </div>
    </div>

  </div>

  <% include _footer %>
