<% include ../_header %>

  <div class="main_wrapper">
    <!-- top nav -->
    <% include ../_topnav %>

      <div class="container-fluid">
        <div class="row">

          <% include ../_sidebar %>

            <!-- contents strt -->
            <div class="contents">
              <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">
                <h1 class="text-center">Company Name</h1>
                <h1 class="page-header">Asset List</h1>
                <div class="asset_list">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Tag</th>
                          <th>Location</th>
                          <th>Added on</th>
                          <th>Assigned to</th>
                          <th>Last Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>AX-12345678</td>
                          <td>Building-B, Room-404</td>
                          <td>22 March,2016</td>
                          <td>Mr. Y</td>
                          <td>23 March,2016</td>
                        </tr>

                        <tr>
                          <td>AX-12345678</td>
                          <td>Building-B, Room-404</td>
                          <td>22 March,2016</td>
                          <td>Mr. Y</td>
                          <td>23 March,2016</td>
                        </tr>

                        <tr>
                          <td>AX-12345678</td>
                          <td>Building-B, Room-404</td>
                          <td>22 March,2016</td>
                          <td>Mr. Y</td>
                          <td>23 March,2016</td>
                        </tr>

                        <tr>
                          <td>AX-12345678</td>
                          <td>Building-B, Room-404</td>
                          <td>22 March,2016</td>
                          <td>Mr. Y</td>
                          <td>23 March,2016</td>
                        </tr>

                        <tr>
                          <td>AX-12345678</td>
                          <td>Building-B, Room-404</td>
                          <td>22 March,2016</td>
                          <td>Mr. Y</td>
                          <td>23 March,2016</td>
                        </tr>

                      </tbody>
                    </table>

                    <ul class="pagination">
                      <li><a href="#">«</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">»</a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <!-- contents end -->

        </div>
      </div>

  </div>

  <% include ../_footer %>
